
.popcontents {
width:920px;
margin:0 auto;
border-right:solid 1px #e6e6e6;
border-left:solid 1px #e6e6e6;
}

#mainArea {
margin:0 20px;
padding:30px 0;
}
#mainArea p {
font-size:80%;
line-height:1.5;
}

#mainArea h1 {
margin-bottom:18px;
}

.notesBlock {
margin-top:20px;
font-size:90%;
}

.GetAcrobat {
width:100% !important;
}
.adobeLeft {
width:650px !important;
}

#formBlock {
padding:20px 0 10px;
background:#eee;
}
#formBlock h2 {
padding:0 20px 10px;
border-bottom:solid 1px #fff;
}

#mainArea p.title span {
font-weight:bold;
font-size:100%;
padding-right:0.5em;
}

#mainArea p.title input {
vertical-align:middle;
}

.formInner {
padding:20px;
border-bottom:solid 1px #fff;
}

.radio  {
margin-top:10px
}

.radio input {
vertical-align:middle;
}
.radio span {
padding-right:20px;
}
.radio label {
padding-left:0.5em;

}
#submit {
cursor:pointer;
padding-top:5px;
}