@charset "Shift_JIS";

/* ---------------------------------------------
		Floating Menu Bottom 
--------------------------------------------- */

/*  Floating Menu Bottom  */

#ftm-bottom {
position: fixed;
width: 100%;
min-width: 990px;
width: expression(document.body.clientWidth < 992? "990px" : "100%");
height: 54px;
left: 0;
bottom: 0;
z-index: 1200;
}

#ftm-bottom .ftm-wrapper {
position: relative;
width: 100%;
height: 54px;
}

#ftm-bottom .ftm-inner {
position: absolute;
left: 0;
top: 54px;
width: 100%;
height: 54px;
}

#ftm-bottom .ftm-inner .ftm-blk {
position: absolute;
width: 990px;
height: 54px;
left: 50%;
top: 0;
margin-left: -495px;
}

#ftm-bottom .ftm-inner .ftm-blk ul {
position: relative;
width: 980px;
height: 46px;
padding: 8px 5px 0 5px;
}
#ftm-bottom .ftm-inner .ftm-blk ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html #ftm-bottom .ftm-inner .ftm-blk ul { display:inline-block; }
*+html #ftm-bottom .ftm-inner .ftm-blk ul { display:inline-block; }

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m1,
#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m1 a {
display: block;
width: 168px;
height: 38px;
}

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m1 {
float: left;
margin: 0 10px 0 0;
}

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m1 a {
background-repeat: no-repeat;
background-position: 0 0;
overflow: hidden;
text-indent: 120%;
white-space: nowrap;
}

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m1 a:hover {
background-position: 0 -38px;
}

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m2,
#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m2 a {
display: block;
width: 99px;
height: 18px;
}

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m2 {
position: absolute;
right: 5px;
}

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m2 a {
background-repeat: no-repeat;
background-position: 0 0;
overflow: hidden;
text-indent: 120%;
white-space: nowrap
}

#ftm-bottom .ftm-inner .ftm-blk ul .list-ftm-m2 a:hover {
background-position: 0 -18px;
}

#ftm-bottom .ftm-inner .ftm-blk ul #ftm_btn_mm { top: 8px; }
#ftm-bottom .ftm-inner .ftm-blk ul #ftm_btn_fb { top: 28px; }

#ftm-bottom .ftm-inner .ftm-blk ul #ftm_btn_mm a { background-image: url(../images/floatingmenu/ftm_b_bg_btn_mm.gif); }
#ftm-bottom .ftm-inner .ftm-blk ul #ftm_btn_fb a { background-image: url(../images/floatingmenu/ftm_b_bg_btn_fb.gif); }

#ftm-bottom .ftm-inner .ftm-blk ul #ftm_btn_bn {
position: absolute;
right: 116px;
top: 8px;
display: block;
width: 139px;
height: 38px;
}


#ftm-bottom .ftm-bg {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 54px;
background-color: #363b41;
opacity: 0.8;
filter: alpha(opacity = 80);
-ms-filter: "alpha(opacity=80)";
}

/*  Page Top Button  */

#ftm-pagetop-btn {
position: fixed;
display: none;
width: 44px;
height: 44px;
right: 12px;
bottom: 66px;
z-index: 1300;
}

#ftm-pagetop-btn a {
display: block;
width: 44px;
height: 44px;
margin: 0;
padding: 0;
background: url(/component/images/floatingmenu/ftm_pagetop_bg.png) no-repeat 0 0  !important;
overflow: hidden;
text-indent: 150%;
white-space: nowrap; 
opacity: 0.67;
filter: alpha(opacity = 67);
-ms-filter: "alpha(opacity=67)";
}

#ftm-pagetop-btn a:hover {
opacity: 1;
filter: alpha(opacity = 100);
-ms-filter: "alpha(opacity=100)";
}

