<li class="new"><span>2016年10月27日</span><a href="http://www.mitsubishi-motors.com/publish/pressrelease_jp/products/2016/news/detail5014.html" target="_blank" >『デリカD：5』の特別仕様車「ROADEST ROYAL TOURING」と「CHAMONIX」を発売</a></li>
<li class="new"><span>2016年10月27日</span><a href="http://www.mitsubishi-motors.com/publish/pressrelease_jp/products/2016/news/detail5015.html" target="_blank">オールラウンドSUV『パジェロ』を一部改良して発売</a></li>
<li class="new"><span>2016年03月17日</span><a href="http://www.mitsubishi-motors.com/publish/pressrelease_jp/products/2016/news/detail4965.html" target="_blank">軽商用車『ミニキャブ バン』を一部改良</a></li>
<li class="new"><span>2015年12月17日</span><a href="http://www.mitsubishi-motors.com/publish/pressrelease_jp/products/2015/news/detail4944.html" target="_blank">コンパクトカーシリーズ『ミラージュ』『デリカＤ:2』をモデルチェンジして発売</a></li>
<li class="new"><span>2015年11月26日</span><a href="http://www.mitsubishi-motors.com/publish/pressrelease_jp/products/2015/news/detail4938.html" target="_blank">ミニバン『デリカD：5』を一部改良し「ROADEST」にクリーンディーゼル搭載車を追加<br />冬の特別仕様車「CHAMONIX」を同時に発売</a></li>
<li><span>＜関連情報＞</span><a href="http://www.mitsubishi-motors.co.jp/special/imakore/index.html" target="_blank">エコカー減税のラインアップ情報はこちら</a></li>
