/*--- ページ共通パーツ ---*/

.noflash {
padding:50px 0;
text-align:center;
}

#popHierarchical {
margin:0 auto;
padding:1px 0;
width:930px;
text-align:left;
}

.popcontents {
background:#ffffff;
}

.contentWrap {
background:#f2f2f2;
text-align:center;
}

#contentsArea {
margin-left:5px;
width:930px;
}

#contentsArea p {
font-size:80%;
line-height:1.7;
}
#contentsArea .linkStd p {
line-height:1.2;
}

#popHierarchical div.h2area {
width:920px;
}
#popHierarchical div.h3area {
width:920px;
}
#popHierarchical h3 {
margin-top:10px;
}

.h2area {
padding-top:10px;
}

.h3area h4 {
margin-top:10px;
}

.headerImg {
margin-top:20px;
}

.noSymbol {
margin-top:10px;
}
li {
margin-top:3px;
list-style:none;
font-size:80%;
line-height:1.5;
}
.listDot li {
list-style:disc;
margin-top:0.4em;
margin-left:1.5em;
}

.notesBlock {
margin-top:30px;
}
.notesBlock p {
margin-top:4px !important;
}


/*--- ローカルナビ ---*/

.localNaviBlock  {
margin-left:3px;
text-align:center;
}

.localNaviBlock li {
display:inline;
list-style:none;
text-align:center;
padding:0 15px;
}

.localNaviBlock {
margin-top:15px;
}

/*-- contentsArea --*/

#contentsArea h1 {
margin:0;
padding:0;
border:none;
}

.h1Box {
position:relative;
margin:30px 0 20px;
}
.h1Box div {
position:absolute;
top:0;
right:0;
margin:0;
}
.h1Box div.linkStd {
margin-top:0 !important;
}
.hojyokin .h1Box div {
top:0;
}
.lineup .h1Box div,
.guide .h1Box div {
top:20px;
}

.h1sub {
margin-left:10px;
}

/* トップページ */


#flashcontent {
margin-top:20px;
}

.indexContentsBlock {
margin-left:10px;
width:920px;
}

.boxlineup {
float:left;
position:relative;
margin-top:11px;
width:462px;
height:147px;
background:url(../images/index_bg_01.gif) no-repeat top left;
}
.boxlineup h2 {
margin:0 !important;
}
.boxlineup .txt {
position:absolute;
top:25px;
left:160px;
}
.boxlineup .linkStd {
position:absolute;
margin-top:0px !important;
top:125px;
left:0px;
width:462px;
}
.boxlineup .linkStd p {
float:right;
margin:0 15px 0 0 !important;
}
.boxlineup .linkStd p a {
color:#fff;
}
.boxlineup .linkStd p a:hover {
color:#ef0041;
}



.boxWhatsnew {
float:right;
margin-top:11px;
width:390px;
background:url(../images/index_bg_04.gif) repeat-y top left;
}
.boxWhatsnew h2 {
margin:0 !important;
}
.boxWhatsnew .boxInner {
margin:5px 0 0 23px !important;
overflow-y:scroll;
width:350px;
height:90px;
}
.boxWhatsnew .boxInner p {
padding-right:10px;
}

.boxWhatsnew .boxWrap2 {
padding-bottom:13px;
background:url(../images/index_bg_05.gif) no-repeat bottom left;
}

.boxWrap {
margin-top:16px;
background:url(../images/index_bg_02.gif) repeat-y top left;
}

.boxWrap2 {
padding-bottom:11px;
background:url(../images/index_bg_03.gif) no-repeat bottom left;
}

.boxeco {
float:left;
width:462px;
}
.boxeco h2 {
margin:0 !important;
}
.boxeco .boxInner {
margin:5px 0 0 16px;
width:431px;
}
.boxeco .box2 {
float:left;
width:210px;
}
.boxeco .box3 {
float:right;
width:210px;
}
.boxeco p span {
float:right;
}


.boxcamp {
float:right;
width:390px;
}
.boxcamp h2 {
margin:0 !important;
}
.boxcamp .boxInner {
margin:10px 0 0 23px !important;
width:345px;
}
.boxcamp .imgBox {
float:left;
margin:0 15px 0 0 !important;
width:141px;
}
.boxcamp .linkStd {
margin:25px 0 0 80px !important;
}

.boxcamp .linkBox {
float:left;
padding-top:170px;
width:109px;
}

.boxcamp .boxWrap2 {
padding-bottom:13px;
background:url(../images/index_bg_05.gif) no-repeat bottom left;
}



/* ラインアップ  */
.lineup .pdoff {
padding:0;
}
.lineup .carline {
margin-left:55px;
}
.lineup .carBox {
float:left;
width:122px;
margin-right:1px;
border:solid 1px #fff;
}
.lineup .carBox p {
text-align:center;
line-height:1.2 !important;
}
.lineup .carBox p.cartxt {
margin-top:0 !important;
padding-bottom:10px;
text-align:center;
line-height:1.2 !important;
font-size:75% !important;
}

.lineup .carBox a {
color:#333;
text-decoration:none;
}


.lineup .campBlock {
display:inline;
float:left;
margin:15px 0 0 7px !important;
padding-bottom:5px;
width:425px;
}

.lineup .imgBox {
float:left;
margin:0 15px 0 0 !important;
width:88px;
}
.lineup .linkBox {
float:left;
padding-top:80px;
width:322px;
}

.lineup .carPageLink p {
float:right;
}


/**/


table {
margin-top:15px;
width:920px;
border-collapse:collapse;
border-left:solid 1px #ccc;
border-top:solid 1px #ccc;
}
table th{
padding:5px 2px;
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
font-size:80%;
font-weight:normal;
text-align:center;
line-height:1.2;
}
table td{
padding:5px 0;
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
font-size:80%;
text-align:center;
line-height:1.2;
}
table th span.notes{
font-size:90% !Important;
}

table th.dotline,
table td.dotline {
border-bottom:dotted 1px #ccc;
}
table th.dline,
table td.dline {
border-bottom:solid 2px #ccc;
}

table .bg1 {
background:#e0e0e0;
}
table .bg2 {
background:#83ba20;
color:#fff;
}
table .bg2a {
background:#daeabc;
}
table .bg2b {
background:#b5d679;
}

table .bg3 {
background:#ff8400;
color:#fff;
}
table .bg3a {
background:#ffdab2;
}
table .bg3b {
background:#ffb566;
}


table .bg4 {
background:#db000a;
color:#fff;
}

table .total {
color:#db000a;
font-weight:bold;
}

td.linkStd,
td.ecolabel {
text-align:left;
}

td.linkStd p {
margin:0.8em 5px 0 15px;
font-size:100% !important;
line-height:1.2 !important;
}
td.linkStd p.fst {
margin-top:0;
}

.guide table td,
.hojyokin table td{
padding:10px 0;
}

.hojyokin td.ecolabel {
padding-left:20px;
}

.guide td.ecolabel {
padding-left:12px;
}

td.txCenter {
text-align:center;
}


.notes_color {
color:#ef0041;
}

/* エコカー減税   */

.ecocar dt,
.ecocar dd {
font-size:80%;
line-height:1.2;
}

.ecocar div.pagetopLink_line1 p {
font-size:75%;
}


.ecocar table td {
padding:0.5em 0;
border-right:solid 1px #ccc;
border-bottom:solid 1px #ccc;
text-align:center;
}
.ecocar table td.carinfo {
padding:0;
border-right:dotted 1px #ccc;
border-bottom:double 3px #ccc;
text-align:left;
}
.ecocar table td.carinfo img {
vertical-align:middle;
}
.ecocar table td.linkStd {
padding-left:15px;
border-bottom:double 3px #ccc;
text-align:left;
line-height:1.2;
}

.ecocar .totalnum {
color:#db000a;
font-size:100% !important;
font-weight:bold;
}

.ecocar .linedouble {
border-bottom:double 3px #ccc;
}

.ecocar dl.normal dt {
float:left;
margin-bottom:5px;
font-weight:bold;
}
.ecocar dl.normal dd {
margin-bottom:5px;
}
.ecocar dl.em5 dd {
margin-left:5em;
}
.ecocar dl.em5 dd {
margin-left:5.2em;
}
.ecocar dl.em5 > dd {
margin-left:5em;
}

.ecocar dl.em5 dd.fst {
margin-left:5em;
}

.ecocar div.h2area .notes p {
margin-top:2px;
}

.ecocar .divisionLink {
width:auto;
}

.ecocar .divisionLink li {
width:200px;
}

.ecocar .basep {
background:#fbf9c1;
}
.ecocar .baseyuugu {
background:#f5ca6d;
}
.ecocar .basetotal {
background:#db000a;
color:#fff;
}

.ecocar .pagetopLink_line1 p {
margin-top:0 !important;
}



/* キャンペーン */

.campaign .h3Block {
float:left;
margin-right:15px;
width:426px;
}
.campaign .rightoff {
margin-right:0;
}
.campaign .h3Block h3 {
padding:0 !important;
background:none !important;
}
.campaign .h3Box {
position:relative;
margin-top:25px;
}
.campaign .h3Box .imgBox {
float:left;
margin:0 13px 0 0 !important;
width:151px;
}
.campaign .h3Box .campBlock {
float:left;
width:262px;
}
.campaign .h3Box .campBlock p {
margin:0 !important;
padding-bottom:5em;
}

.campaign .h3Box .linkStd p {
position:absolute;
top:12em;
left:163px;
}



/*-- acrobat --*/
div.GetAcrobat {
margin:25px 0 0 10px;
width:920px;
}
div.GetAcrobat .adobeLeft {
padding-top:8px;
width:670px;
text-align:center;
}
div.GetAcrobat .adobeRight {
float:right;
margin:10px 30px 10px 0;
width:112px;
}

/* */

.h1Box .division_link_H2 li {
margin-right:25px;
}
.h1Box .division_link_H2 li.rightoff {
margin-right:0;
}

.h1Box .division_link_H2,
.h1Box .division_link_H2 li {
width:auto;
}

div.popcontents div.linkStd p span {
background-position:0 0.4em;
}
div.popcontents div.linkStd p span img.blankimg {
vertical-align:middle;
}

div.popcontents div.linkStd p span > img.blankimg {
vertical-align:bottom;
}


/*--- 関連情報 --*/
.relatedBlock {
margin-top:15px !important;
padding-bottom:40px;
}
.relatedBlock p{
float:left;
margin-right:20px;
}

/**/



.boxovero {
border:solid 1px #ef0041 !important;
}

.boxoverf {
border:solid 1px #fff !important;
}

.boxoverod {
border:solid 1px #ef0041 !important;
cursor:hand;
cursor:pointer;
}



/* LIMITED CAMPAIGN
------------------------------------------------------------- */
#camlimited h1{
float:left;
width:636px;
}
#camlimited .h1Box div#toprightBox {
text-align:right;
margin:20px 0 0;
float:right;
width:300px;
}

#camlimited .mainArea{
margin-top:15px;
background:url(../images/calimited_bg_01.jpg) no-repeat;
}
#popHierarchical #camlimited .h2title{
margin:0 0 0 231px;
padding:0;
}
#popHierarchical #camlimited .h2title h2,
#popHierarchical #camlimited .mainArea p{
margin:0;
padding:0;
}
#popHierarchical #camlimited .mainArea limitedtxtArea p{
margin:0 0 15px;
padding:0;
}

#popHierarchical #camlimited .mainAreaInner{
margin-left:30px;
}

#popHierarchical #camlimited .mainArea div.linkStd{
margin-top:0;
}
#contentsArea #camlimited .limitedtxtArea{
min-height:50px;
_height:55px;
}

#popHierarchical #camlimited #type01 .limitedtxtArea p,
#popHierarchical #camlimited #type02 .limitedtxtArea p,
#popHierarchical #camlimited #type03 .limitedtxtArea p,
#popHierarchical #camlimited #type04 .limitedtxtArea p,
#popHierarchical #camlimited #type05 .limitedtxtArea p{
padding-top:3px;
}



#camlimited #type01{
float:left;
width:280px;
background:url(../images/calimited_img_02.jpg) no-repeat bottom left;
}
#camlimited #type01 .limitedtxtArea{
padding:0 10px 0 59px;
margin-bottom:85px;
}
#camlimited #type02{
float:left;
width:274px;
background:url(../images/calimited_img_04.jpg) no-repeat bottom left;
}
#camlimited #type02 .limitedtxtArea{
padding:0 10px 0 50px;
margin-bottom:85px;
}
#camlimited #type03{
float:/;

}
#camlimited #type03 .limitedtxtArea{
padding:0 10px 0 54px;
margin-bottom:85px;
}



#camlimited #type04{
float:left;
width:322px;
margin-left:91px;
display:inline;
background:url(../images/calimited_img_08.jpg) no-repeat bottom right;
}

#camlimited #type04 .limitedtxtArea{
padding:5px 30px 0px 100px;
margin-bottom:60px;
}

#camlimited #type05{
float:left;
width:289px;
display:inline;
background:url(../images/calimited_img_10.jpg) no-repeat bottom left;
}
#camlimited #type05 .limitedtxtArea{
padding:5px 10px 0px 54px;
margin-bottom:60px;
}

#camlimited .txtInformation{
clear:both;
padding:25px 15px 5px;
}
#camlimited .txtInformation p,
#camlimited .txtInformation ul li{
font-size:76%;
line-height:1.35;
margin:0;
}
#camlimited .txtInformation ul{
margin-top:15px;}


/* LIMITED CAMPAIGN END
------------------------------------------------------------- */


#green-taxImg {
position:relative;
color:#fff;
font-weight:bold;
font-family:Verdana,"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3",sans-serif;
}

#green-taxImg .text {
position:absolute;
font-size:100%;
line-height:1.3;
width:190px;
}

#green-taxImg .ecocar_genzei1 {
top:92px;
left:445px;
font-size:100%;
}
#green-taxImg .ecocar_genzei1 span {
font-size:150%;
}
#green-taxImg .ecocar_genzei2 {
top:90px;
left:550px;
font-size:160%;
padding-left:1em;
}

#green-taxImg .kounyuhojo1 {
top:70px;
left:450px;
font-size:130%;
text-align:center;
}

#green-taxImg .kounyuhojo2 {
top:194px;
left:450px;
font-size:130%;
text-align:center;
}

#green-taxImg .sougaku1 {
top:72px;
left:684px;
font-size:130%;
text-align:center;
}

#green-taxImg .sougaku2 {
top:194px;
left:684px;
font-size:130%;
text-align:center;
}


/* RVR CAMPAIGN 
------------------------------------------------------------- */

ul li span {
padding-left:1em;
}

.lead {
margin:25px 15px 30px 25px;
padding:0 390px 0 0;
background:url(../images/carvr_img_01.jpg) right center no-repeat;
position:relative;
}

.lead p span {
display:block;
margin:30px 0 25px;
}

.lead .linkStd {
position:absolute;
top:135px;
left:780px;
}

.custom {
margin:0 0 0 25px;
}

.custom p {
margin:25px 0 30px 0;
}

.custom dl {
margin:0 15px 0 0;
float:left;
font-size:0px;
}

.custom dl.lastBox {
margin:0;
}

.custom dt {
margin:0;
padding:0;
}

.custom dd {
margin:0;
padding:12px 0 10px;
text-align:center;
background:url(../images/carvr_bg_01.gif) bottom left no-repeat;
}

.custom dd span {
display:block;
margin:4px 0;
}

.custom dd span.ico01 {
margin:8px 0;
}

#camlimited .txtInformation.rvr {
margin:0 0 0 10px;
padding:25px 15px 5px;
}

#camlimited .txtInformation.rvr ul {
margin-top:0;
margin-bottom:50px;
}