
#car_crumb {margin:0;padding:9px 0 5px 0;text-align:right;color:#151515;font-size:90%;}
.plist {text-indent: -10px;margin-left: 10px;}
#car_crumb p {padding-right:10px;}
#car_crumb span.stay {font-weight:bold;}
#car_crumb a:link,#car_crumb a:visited {
text-decoration:underline;
}

#car_crumb a:active,#car_crumb a:hover {
color:#ef0041;text-decoration:underline;
}

div.car_pagetopLink {padding:0 10px 1em 0;text-align:right;clear:both;}

div.car_pagetopLink a {margin:0;padding:0;font-size:90%;}

div.car_pagetopLink a:link {color:#151515;text-decoration:underline;}
div.car_pagetopLink a:visited {color:#151515;text-decoration:underline;}
div.car_pagetopLink a:active {color:#cc0000;text-decoration:underline;}
div.car_pagetopLink a:hover {color:#cc0000;text-decoration:underline;}
#car_contents {width:780px;margin-left:0px;}
p.fhlink{font-size:75%;line-height:1.7;}
.carmain_font70{font-size:70%;line-height:1.5;}
.carmain_font70 a:hover {color:#ef0041;}
.carmain_font80{font-size:80%;line-height:1.5;}
.carmain_font80lh{font-size:80%;line-height:1.5;margin-top:5px;}
.cartop_font70{font-size:70%;line-height:1.5;margin-top: 5px;margin-right: 15px;margin-bottom: 5px;margin-left: 15px;vertical-align:middle;}
.carmain_font80tdline{line-height:0.8;color:#151515;font-weight:bold;font-size:80%;}
.carmain_font90{font-size:90%;line-height:1.5;}
.carmain_font100{font-size:100%;line-height:1.5;}
.car_main_bold{font-weight:bold;}
.car_main_cired{color:#ef0041;}
.car_main_gray01{color:#151515;}
.car_main_ciredB{color:#ef0041;font-weight:bold;}
.car_main_gray01B{color:#151515;font-weight:bold;}
.rightimg{margin-bottom: 15px;margin-left: 15px;}
.rightimg_lfm{margin-left: 15px;}
.rightimg_bottom{margin-bottom:10px;margin-top: 15px;margin-left: 15px;}
.leftimg{margin-bottom: 15px;margin-right:15px;float:left;}
.carmain_font70lh{margin-top:5px;font-size:70%;line-height:1.5;}
.bkf1{background-color:#efefef;}
.bkf2{background-color:#f2f2f2;}
.bkf3{background-color:#e6e6e6;}
.bkclred{background-color:#ef0041;}
.bkwhite{background-color:#ffffff;}
.bkore{background-color:#f5efe0;}
.bklb{background-color:#e2eaed;}
.bkspecgray{background-color:#d2d2d2;}
.bkspecgray2{background-color:#e6e6e6;}
.bkspecgray3{background-color:#666666;}
.bkspecpink{background-color:#fbdee7;}
.bkspecRE{background-color:#D8E9DC;}
.bkspecRTE{background-color:#F2E2D7;}
.bkspecDOP{background-color:#E0DDEE;}
.bkspecSOP{background-color:#E8F6D9;}
.car_green{color:#006600;}
.carmain_cired70{font-size:70%;color:#ef0041;}
.submenu_bk{background-image:url(/lineup/images/localnvsub_bg_01.gif);background-repeat:repeat-x;}
.footer_bk{background-image:url(/lineup/images/lineup_bottom_bg_01.gif);background-repeat:repeat-x;}
.top_tbbk1{background-image:url(/lineup/images/cartop_bg_01.gif);}
.top_tbbk2{background-image:url(/lineup/images/cartop_bg_02.gif);}
.top_tbbk3{background-image:url(/lineup/images/cartop_bg_03.gif);}
.icolor_tdbk{background-color:#b6b6b6;}
#imanual{padding-top:45px;padding-bottom:45px;padding-left:30px;padding-right:30px;text-align:center;}
#imanual p.title{text-align:center;margin-bottom:55px;}
#imanual table.texttd td{height:23px;vertical-align:middle;padding-top:3px;padding-bottom:3px;font-size:80%;}
#imanual .trcl{background-color:#f3f3f3;}
#popsimu{padding-top:45px;padding-bottom:45px;padding-left:30px;padding-right:30px;text-align:center;}
.car_simu{margin-left:15px;margin-top:10px;margin-bottom:10px;margin-right:15px;}
.car_simuwidth{width:548px;margin-left:auto;margin-right:auto;}
.car_simblock{text-align:left;}

/* pagetop */
#car_contents div.pagetopLink {margin:1.5em 0 1em 0;text-align:right;clear:both;}
#car_contents div.h1area div.pagetopLink {margin-right:0;}
#car_contents div.pagetopLink a {margin:0;padding:0;font-size:70%;}
#car_contents div.pagetopLink a:link {color:#151515;text-decoration:underline;}
#car_contents div.pagetopLink a:visited {color:#151515;text-decoration:underline;}
#car_contents div.pagetopLink a:active {color:#cc0000;text-decoration:underline;}
#car_contents div.pagetopLink a:hover {color:#cc0000;text-decoration:underline;}

/*060317フォント色追加*/
.car_main_ore{color:#ef703e;}
.car_main_kon{color:#0b3984;}

/*060731マージン追加*/
.td_leftmg{padding-left:10px;}

/*060816 table-layout追加　縦のセルがすべて幅の場合に使用する、横に分割（colspan）などが入っているテーブルにはいれない*/
.table_fst{table-layout:fixed;}

/*060919フォントサイズ追加*/
.carmain_font60{font-size:60%;line-height:1.5;}
.rightimg_new{margin-bottom: 15px;margin-left: 15px; float:right;}

/*061011マージン追加*/
.topbot_mg15{margin-top:15px;margin-bottom:15px;}

/* 以下フルCSS化対応用 */

/* フォント設定 */
.layout1_Block p, .layout2_Block .patA p, .layout2_Block .pat1 p,
.layout2_Block .pat2 p, .layout2_Block .pat3 p, .layout2_Block .pat4 p,
.layout3_Block p, .layout4_Block p, .layout5_Block p,
table.spec span, h4,h5,h6,
.colorBox_Area p, .linkBox_Area p,
.lineBox_Area .lineBox p,
#foldArea p, #car_mainAera .h2area p, #cartop_lArea .txtonlyArea {
line-height:1.5em;
font-size:80%;
}
#cartop_rArea dd, .legend, .notes_mainArea p, #general .page_notesArea p,
.colorBox_Area .mainBox dt, .colorBox_Area .mainBox dd, .colorBox_Area .mainBox h5, .colorBox_Area .mainBox p, .dimension p,
#clpop .cltxt ,#car_mainAera .divide p {
line-height:1.5em;
font-size:70%;
}
#general .notes,#general .noteslh,table.spec span.notes_num {
font-size:70%;
}
#general .noteslh {
margin-top:5px;
}
.page_notesArea {
padding-top:25px;
clear:both;
}
h4 {
font-weight:bold; 
}
span.notes_num {
font-weight:normal;
color:#ef0041;
}

#general .topicsnew {
font-size:110%;
font-weight:bold;
}


/* パンくず */
#car_header {
width:780px;
border-bottom:1px solid #efefef;
}
#car_header #delica_d5 {
float:left;
width:100px;
margin-right:10px;
padding-top:4px;
}
#car_header #minica {
float:left;
width:109px;
margin-right:10px;
padding-top:5px;
}
#car_header #grandis {
float:left;
width:89px;
margin-right:10px;
padding-top:6px;
}
#car_header #galant_fortis {
float:left;
width:200px;
margin-right:10px;
padding-top:4px;
}
#car_header #ek_wagon {
float:left;
width:150px;
margin-right:10px;
padding-top:7px;
}
#car_header #ek_sport {
float:left;
width:180px;
margin-right:10px;
padding-top:6px;
}
#car_header #colt {
float:left;
width:70px;
margin-right:10px;
padding-top:6px;
}
#car_header #colt_plus {
float:left;
width:145px;
margin-right:10px;
padding-top:6px;
}
#car_header #car_crumb {
float:none;
}
#car_header h1 {
margin-left:15px;
}


/* ローカルナビ */
/*トップページ用 */
#car_localArea_carTop {
height:50px;
background-image:url(/lineup/images/local_bg_05.gif);
background-position:left top;
background-repeat:no-repeat;
}
#exlocal #car_localArea_carTop {
background-image:url(/lineup/images/local_bg_06.gif);
}
/*トップページ以外 */
#car_localArea {
height:50px;
background-image:url(/lineup/images/local_bg_04.gif);
background-position:left top;
background-repeat:no-repeat;
}
#exlocal #car_localArea {
background-image:url(/lineup/images/local_bg_07.gif);
}

#car_inner {
margin-left:11px;
padding-top:1px;
}
#car_localArea ul,#car_localArea li,#car_localArea_carTop ul,#car_localArea_carTop li,#cartop_rArea ul,#cartop_rArea li,#car_localfooter ul,#car_localfooter li,
#car_sublocalArea ul,#car_sublocalArea li {
margin:0;
padding:0;
list-style:none;
}
#car_localArea li,#car_localArea_carTop li {
float:left;
margin-right:1px;
line-height:0;
}
#car_localArea .not9 li#cln8, #car_localArea_carTop .not9 li#cln8 {
margin-right:64px;
}

#car_localArea li#cln10,#car_localArea_carTop li#cln10 {
margin-right:0px;
}


/* サブローカルナビ */
#car_sublocalArea {
width:780px;
height:24px;
background-image:url(/lineup/images/localnvsub_bg_01.gif);
background-position:left top;
background-repeat:repeat-x;
}
#car_sublocalArea #car_subinner {
width:770px;
margin-left:10px;
padding-top:0px;
}

#car_sublocalArea li {
float:left;
height:23px;
}
#car_sublocalArea li#sln1,#car_sublocalArea li#sln2 {
width:128px;
}


/* トップページ */
#cartop_mainArea {
width:765px;
margin-left:15px;
background-image:url(/lineup/images/cartop_bg_04.gif);
background-position:top right;
background-repeat:repeat-y;
border-bottom:1px solid #fff;
clear:both;
}
#cartop_lArea {
float:left;
width:490px;
margin-bottom:0px;
margin-top:10px;
}
#cartop_rArea {
float:left;
width:263px;
margin-bottom:3px;
margin-left:12px;
padding-top:1px;
}
#cartop_lArea .txtonlyArea {
margin-bottom:15px;
padding:5px 5px 0;
}
#cartop_lArea .txtonlyArea h3 {
margin-bottom:15px;
}
 
#cartop_editionBlock,#cartop_editionBlock2 {
padding-bottom:14px;
background-image:url(/lineup/images/top_pt_03.gif);
background-position:bottom left;
background-repeat:no-repeat;
}
.cartop_bannerBlock {
padding-bottom:14px;
background-image:url(/lineup/images/top_pt_01.gif);
background-position:left bottom;
background-repeat:no-repeat;
clear:both;
}
#cartop_editionBlock .txtArea,.cartop_bannerBlock .txtArea,#cartop_editionBlock2 .txtArea {
padding-left:0px;
padding-right:0px;
padding-bottom: 5px;
padding-top: 5px;
background-image:url(/lineup/images/cartop_bg_01.gif);
background-position:left top;
background-repeat:repeat-y;
}
#cartop_editionBlock div.bn,#cartop_editionBlock2 div.bn {
padding-left:6px;
background-image:url(/lineup/images/cartop_bg_02.gif);
background-position:left top;
background-repeat:repeat-y;
}
.cartop_bannerBlock div.bn {
background-image:url(/lineup/images/cartop_bg_02.gif);
background-position:left top;
background-repeat:repeat-y;
}
.cartop_bannerBlock div.bn {
width:490px;
}
.cartop_bannerBlock div.bn div {
margin-left:21px;
padding-top:14px;

}
#cartop_editionBlock div.bn div,#cartop_editionBlock2 div.bn div {
width:477px;
padding-top:1px;
background-image:url(/lineup/images/top_pt_04.gif);
background-position:top left;
background-repeat:no-repeat;
}

#cartop_editionBlock div.bn p,#cartop_editionBlock2 div.bn p {
height:52px;
margin:0;
padding:0;
}

#cartop_editionBlock div.bn div p span,#cartop_editionBlock2 div.bn div p span {
display:block;
float:left;
}

#cartop_editionBlock p,.cartop_bannerBlock p,#cartop_editionBlock2 p {
font-size:70%;
line-height:1.5;
margin-right:15px;
margin-left:15px;
}

.cartop_bannerBlock a {
display:block;
float:left;
margin-right:14px;
margin-bottom:14px;
}
.cartop_bannerBlock a.longbn {
margin-right:0;
}
.cartop_bannerBlock a.longbnEX {
margin-right:0;
margin-bottom:10px;
}
.cartop_bannerBlock a.mgoff {
margin:0;
}

.linksBlock {
padding-left:7px;
}
.linksBlock ul ,.linksBlock li {
list-style:none;
}
.linksBlock li {
float:left;
margin-right:11px;
}

#cartop_rArea div#main_Area {
padding-left:8px;
padding-top:10px;
}

#cartop_rArea div#main_Area div.link {
width:237px;
margin-left:10px;
margin-bottom:10px;
padding-top:10px;
}
#cartop_rArea div#main_Area div.topics {
width:233px;
margin-left:10px;
margin-bottom:3px;
padding-top:10px;
}

#cartop_rArea div#main_Area div.recommend {
width:237px;
margin-left:10px;
margin-bottom:14px;
padding-top:10px;
}

#cartop_rArea li {
padding-bottom:7px;
margin-bottom:7px;
background-image:url(/lineup/images/top_pt_02.gif);
background-position:bottom left;
background-repeat:no-repeat;
}
#cartop_rArea div#main_Area div.link div {
padding-bottom:7px;
padding-top:7px;
background-image:url(/lineup/images/top_pt_02.gif);
background-position:top left;
background-repeat:no-repeat;
}

#cartop_rArea div#main_Area div.topics div {
padding-bottom:10px;
padding-top:10px;
background-image:url(/lineup/images/top_pt_02.gif);
background-position:top left;
background-repeat:no-repeat;
}
#cartop_rArea div#main_Area div.topics div.solidline {
background-image:url(/lineup/images/top_pt_05.gif);
background-position:top left;
background-repeat:repeat-x;
}

#cartop_rArea dt img,#cartop_rArea li img,#car_localfooter li img,#cartop_editionArea div.bn p img,
#car_localArea li img,#car_sublocalArea li img,#car_localfooter li img,.legend dt img {
vertical-align:top;
}

#cartop_rArea div.topics dt {
float:left;
width:51px;
height:51px;
}
#cartop_rArea div.topics dd {
width:169px;
margin-left:57px;
}
#cartop_rArea div.topics dd img {
display:block;
margin-bottom:2px;
}
#cartop_rArea div.link dt {
float:left;
width:61px;
padding-top:0.5em;
height:16px;
}
#cartop_rArea div.link dd {
width:153px;
margin-left:71px;
}
#general #cartop_rArea div.topics .lineoff,#general #cartop_rArea div.link .lineoff {
padding-top:0;
background-image:none;
}
#general #cartop_mainArea .lineoff {
margin:0;
padding:0;
background-image:none;
}

#general #cartop_mainArea div.topics dd.upline {
height:51px;
}
html > body#general #cartop_mainArea div.topics dd.upline {
height:auto;
min-height:51px;
}


/* フッター */
#car_localfooter {
width:780px;
height:34px;
background-image:url(/lineup/images/lineup_bottom_bg_01.gif);
background-position:top left;
background-repeat:repeat-x;
}
#car_localfooter li {
float:left;
height:33px;
}

/* 車種ページCSS */
.carpg_line1 {
margin-bottom:30px;
padding-top:30px;
padding-bottom:8px;
width:740px;
text-align:right;
background-image:url(/lineup/images/line_pt_02.gif);
background-position:bottom left;
background-repeat:repeat-x;
clear:both;
}

#car_general #pagetitle {
position:relative;
margin-right:10px;
margin-top:40px;
padding-bottom:11px;
padding-left:20px;
padding-right:10px;
background-image:url(/lineup/images/line_pt_01.gif);
background-position:bottom left;
background-repeat:no-repeat;
}

#car_general #pagetitle p.rightBtn{
position:absolute;
top:0;
right:10px;
}

#car_general h3 {
width:370px;
}
#car_general p.endsale {
float:right;
width:360px;
text-align:right;
}
#car_mainAera {
margin-left:20px;
margin-right:20px;
padding-bottom:30px;
padding-top:25px;
}
.leftBox,.rightBox,.pleft,.pright {
float:left;
}

#car_general .boxend {
margin-bottom:25px;
}
#car_general .paraend {
margin-bottom:15px;
}
#car_general .colorBox_Area .paraend {
margin-bottom:5px;
}
p.h_def {
margin-bottom:5px;
}
img.rightimg {
float:right;
}


/* １段組み */
.layout1_Block {
padding-bottom:25px;
clear:both;
}
.layout1_Block p.img {
margin-bottom:15px;
}
.layout1_Block h4, .layout1_Block h5{
margin-bottom:15px;
}

/* ２段組み */
.layout2_Block {
padding-bottom:25px;
line-height:1.5;
clear:both;
}

/* 2 パターンA　スタイリング */
.layout2_Block .patA .leftBox {
float:none;
position:absolute;
margin-right:0;
width:114px;
}
.layout2_Block .patA .normalBox {
padding-left:114px;
}
/**/
/* 2 パターンB　グレード価格 */
.layout2_Block .patB .leftBox {
float:none;
position:absolute;
margin-right:0px;
width:80px;
}
.layout2_Block .patB .normalBox {
padding-left:80px;
width:660px;
}
.layout2_Block .patB p.img {
margin-bottom:25px;
}
/**/

/* ２、３段組み パターン系共通 */
.layout2_Block h4, .layout2_Block h5,
.layout3_Block h4, .layout3_Block h5,
.layout4_Block h4, .layout4_Block h5,
.layout5_Block h4, .layout5_Block h5 {
margin-bottom:15px;
}
.layout2_Block h4.htxt,.layout2_Block h5.htxt,
.layout3_Block h4.htxt,.layout3_Block h5.htxt,
.layout4_Block h4.htxt,.layout4_Block h5.htxt, 
.layout5_Block h4.htxt,.layout5_Block h5.htxt {
margin-bottom:5px;
}


/* ２段組み パターン系共通 */
.layout2_Block .leftBox {
margin-right:30px;
width:355px;
}
.layout2_Block .rightBox {
width:355px;
}
.layout2_Block div.layout2_imgline {
}
.layout2_Block div.layout2_imgline p {
float:left;
margin-right:30px;
width:355px;
}

/* 2 パターン2 */
.layout2_Block .pat2 .leftBox,
.layout2_Block .pat2 .rightBox {
padding-bottom:10px;
}
.layout2_Block .pat2 p.img {
margin-top:10px;
}

/* 2 パターン3 */
.layout2_Block .pat3 .pleft {
margin-right:15px;
width:165px;
}
.layout2_Block .pat3 .pright {
width:175px;
}

/* 2 パターン4（シートアレンジ等） */
.layout2_Block .pat4 .leftBox,
.layout2_Block .pat4 .rightBox {
margin-bottom:25px;
}
.layout2_Block .pat4 p{
float:none;
width:auto;
margin-right:0px;
}
.layout2_Block .pat4 .pleft {
float:left;
margin-right:10px;
margin-top:10px;
width:115px;
}
.layout2_Block .pat4 .pright {
padding-left:130px;
padding-top:10px;
}

.layout2_Block .h_b h4.h_def {
height:30px;
}

/**/
/* ３段組み */
.layout3_Block {
clear:both;
}
/*３段組み パターン系共通 */
.layout3_Block .layout3_left,
.layout3_Block .layout3_center,
.layout3_Block .layout3_right {
float:left;
margin-bottom:25px;
margin-right:30px;
width:227px;
}
.layout3_Block .double .layout3_left,
.layout3_Block .double .layout3_center,
.layout3_Block .double .layout3_right {
margin-bottom:0;
}

.layout3_Block .layout3_right {
margin-right:0;
}

.layout3_Block div.double {
float:left;
padding-bottom:25px;
margin-right:30px;
width:483px;
}
.layout3_Block .layout3_center {
width:226px;
}
.layout3_Block .layout3_imgline {
margin-right:0;
padding-bottom:25px;
width:740px;
}
.layout3_Block .layout3_imgline p {
float:left;
margin-right:30px;
}

/* 見出しの高さが画像により一定ではない場合はそのつどスタイルを追加する */
.layout3_Block .h_a p.h_def {
}
.layout3_Block .h_b p.h_def {
height:28px;
}

/*3 パターン2*/
.layout3_Block .pat2 p.img {
margin-bottom:10px;
}

/* ４段組み */
/* ４段組み パターン系共通 */
.layout4_Block {
clear:both;
}
.layout4_Block .pat1 div,.layout4_Block .pat2 div ,.layout4_Block .pat3 div {
float:left;
width:170px;
margin-bottom:25px;
margin-right:20px;
}
.layout4_Block p.img {
margin-bottom:10px;
}

/* 見出しの高さが画像により一定ではない場合はそのつどスタイルを追加する */
.layout4_Block .h_a p.h_def{
}
.layout4_Block .h_b p.h_def{
height:26px;
}
.layout4_Block .h_c p.h_def{
height:40px;
}


/* 4 パターン2 */
.layout4_Block .pat2 .double {
margin-right:20px;
width:360px;
}
.layout4_Block .pat2 .triple {
margin-right:20px;
width:550px;
}
/* 4 パターン3 */
.layout4_Block .pat3 .double {
margin-right:20px;
width:545px;
}
/**/

/* ５段組み */
/*5 パターン1*/
.layout5_Block .pat1 div {
float:left;
width:132px;
margin-bottom:25px;
margin-right:20px;
}
.layout5_Block .pat1 p.img {
margin-bottom:10px;
}
/**/

#car_general .bottommg_off,
#car_general .layout3_Block .bottommg_off .layout3_left,
#car_general .layout3_Block .bottommg_off .layout3_center,
#car_general .layout3_Block .bottommg_off .layout3_right,
#car_general .layout4_Block .bottommg_off div {
margin-bottom:0;
padding-bottom:0;
}

#car_general .rightmg_off {
margin-right:0px;
}

/* グレーエリア（エンジン、環境仕様など） */
.attention {
margin-top:8px;
}

.attention img {
float:left;
margin-right:8px;
margin-top:-2px;
}

.colorBox_Area {
padding-bottom:10px;
padding-top:10px;
}
.colorBox_Area h5 {
margin-bottom:0;
}
.colorBox_Area .mainBox {
margin-left:10px;
margin-right:10px;
}
.colorBox_Area .mainBox dl {
clear:both;
}
.colorBox_Area .mainBox dt {
float:left;
width:130px;
}
.colorBox_Area .mainBox dd {
margin-left:130px;
}
.linkBox_Area {
padding-bottom:15px;
padding-top:15px;
width:740px;
}
.linkBox_Area .linkBox,.linkBox_Area .accessory {
margin-left:15px;
margin-right:15px;
}
.linkBox_Area h4 {
width:400px;
}
.linkBox_Area .leftBox {
float:left;
width:515px;
}
.linkBox_Area .accessory .leftBox {
width:431px;
}
.linkBox_Area .leftBox p {
margin-top:5px;
line-height:1.5;
}
.linkBox_Area .rightBox {
float:left;
margin-top:0.7em;
width:175px;
}

.linkBox_Area .accessory .rightBox {
width:259px;
}

.lineBox_Area {
width:740px;
border:solid 1px #d2d2d2;
}
.lineBox_Area .lineBox {
margin-left:10px;
margin-right:10px;
}
.lineBox_Area .leftBox {
float:left;
margin-right:15px;
width:86px;
}
.lineBox_Area .rightBox {
float:left;
margin-top:8px;
width:614px;
}

/* スペック */
#fhlink_Area {
margin:0 20px;
padding-top:10px;

text-align:right;
}
h4.edition {
margin-bottom:20px;
}

h4.spec,h5.spec {
float:left;
margin-bottom:0px;
margin-left:5px;
}

.legend {
float:right;
width:580px;
margin-top:2px;
margin-bottom:5px;
}
.legend p {
float:right;
margin-right:5px;
}
.legend p img {
display:block;
float:left;
margin-right:5px;
text-align:right;
}

table.spec img{
display:block;
}
table.spec {
padding:0;
width:740px;
border-collapse:collapse;
border-spacing:0;
border:solid 1px #666;
clear:both;
}
table.top {
clear:none;
}

table.spec td,table.spec th {
padding:5px;
border:solid 1px #666;
font-weight:normal;
line-height:normal;
text-align:center;
}
table.spec tr.mainheader th {
font-weight:bold;
}
table.spec table td {
padding:0;
border:none;
}
table.spec .tdleft {
text-align:left;
}
table.spec .tdright {
text-align:right;
}
.notes_mainArea {
margin-top:10px;
}
.spec_pgtop {
margin-bottom:20px;
margin-top:10px;
text-align:right;
}
.dimension_gra .leftBox{
width:395px;
}

.dimension .leftBox{
width:416px;
}
.dimension .rightBox{
width:323px;
}
.dimension .inimgBox{
width:370px;
}
.dimension table,.dimension table td, .dimension table th {
font-weight:normal;
line-height:normal;
text-align:center;
border:solid 1px #666;
}
.dimension table {
border-collapse:collapse;
border-spacing:0;
}
.dimension table td, .dimension table th {
padding:2px;
font-size:80%
}
.dimension h4 {
margin-bottom:10px;
}

/* extra */
.foldBlock {
margin-bottom:2px;
height:94px;
}

#foldArea .nameBox {
float:left;
width:556px;
}
#foldArea .flb {
float:left;
width:93px;
}
#foldArea .txtBox {
float:left;
margin-right:21px;
width:472px;
}
#foldArea .txtBox p {
margin-bottom:15px;
}
#foldArea .imgBox {
float:left;
width:208px;
}
#foldArea .imgBox h5 {
margin-bottom:5px;
}
#foldArea .close {
clear:left;
text-align:center;
}

/* color variriation new table */
.colorTable h4 {
margin-bottom:15px;
}
.colorTable p.tablelegend {
margin:-15px 0 5px 0;
text-align:right;
}

.colorTable table {
width:740px;
margin-bottom:18px;
border:solid 1px #e6e6e6;
border-bottom:solid 2px #e6e6e6;
}
.colorTable table th ,.colorTableLong table th {
border-left:solid 1px #fff;
background-color:#e6e6e6;
font-weight:normal;
line-height:normal;
text-align:center;
}

.colorTable table td.leftborderoff, .colorTable table th.leftborderoff {
border-left:none;
}
 
.colorTable table td,.colorTableLong table td {
border-left:dashed 1px #e6e6e6;
border-top:solid 2px #e6e6e6;
text-align:center;
}
.colorTable table .secondLine td,.colorTableLong table .secondLine td {
border-top:solid 1px #e6e6e6;
}
.colorTable table .secondLine th,.colorTableLong table .secondLine th {
border-top:solid 1px #fff;
}


/* clpop */
#clpop p {
margin-bottom:40px;
}

#clpop .cltxt {
margin:0 auto 20px;
width:680px;
text-align:left;
}

/* redirect */
.redirectBlock {
padding:200px 50px;
text-align:center;
}


/* request */
#car_mainAera .divide {
padding-left:0px;
}

#car_mainAera .divide .left {
margin-right:20px;
}

#car_mainAera .divide .right {
margin-bottom:10px;
}

#car_mainAera .titleLinkList {
padding:0;
}
.reqpage #car_mainAera {
padding-bottom:10px;
}

/* cocochi */
.cocochi,.line_inner {
margin-bottom:25px;
padding-bottom:10px;
padding-top:10px;
}