#gn li a {
padding:1px 4px 3px 12px;
font-size:68%;
}
#gn li.parent a {
padding:1px 4px 3px 24px;
}
#gn li.children a {
padding:1px 4px 3px 36px;
}


#gn11 {
width:189px;
height:387px;
}
#gn12 {
width:189px;
height:387px;
}
#gn13 {
width:344px;
height:387px;
}

#gn21 {
width:189px;
height:387px;
}

#gn31 {
width:189px;
height:387px;
}

#gn41 {
width:189px;
height:387px;
}

#gn51 {
width:189px;
height:387px;
}

#gn52 {
width:297px;
height:387px;
}

#gn61 {
width:189px;
height:387px;
}

#gn71 {
width:189px;
height:387px;
}
#gn81 {
width:189px;
height:387px;
}
#gn82 {
width:299px;
height:387px;
}
